/* styles.css */
body {
    font-family: sans-serif; /* Example font */
    margin: 0; /* Reset default margins */
  }

  header {
    text-align: center;
    background-color: hsl(0, 0%, 100%); /* Example background color */
    padding: 20px 0;  /* Add padding for visual spacing */
  }

  nav {
    text-align: center;
  }

  nav a {
    margin: 0 15px;  /* Add space between links */
    text-decoration: none; /* Remove default underline */
  }

  h2 { 
    text-align: center;
  }
  .video-container {
    margin-bottom: 20px; /* Adds space below each video */
    text-align: center;
  }
